.container {
    margin: 8px;
    display: flex;
    font-size: 18px;
}

.rightSideClassPageLink {
    justify-content: right;
    display: flex;
    width: 10%;
} 

.leftSideClassPageLink {
    justify-content: left;
    display: block;
    text-align: left;
    width: 90%;

}
