.topicLink {
    background-color: #0971f1;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration:none;
    color: white;
    width: 100%;
  }

  .topicLink:hover {
    opacity: 0.8;
  }

  .topicsContainer {
    margin: 8px;
  }

  .linkContainer {
    display: flex;
    width: 25%;
    height: 40px;
    margin-right: 8px;
  }